@import './consts';
.color-primary {
  color: $primary;
}

.color-error {
  color: $error;
}

.color-warning {
  color: $warning;
}

.color-info {
  color: $info;
}

.color-success {
  color: $success;
}