@import '../../styles/consts';

.card {
  box-shadow: $shadow-white;
  border-radius: $border-radius;
  margin: 1rem;
  overflow: hidden;
  
  img{
    width: 100%;
  }
  .body {
    padding: 1.5rem;
    .title {
      margin-bottom: 0.25rem;
      font-weight: 400;
      font-size: $large;
    }
    .subtitle {
      margin-bottom: 0.25rem;
      color: $info;
      font-weight: 400;
      font-size: $small;
    }
    .text{
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
}