<div class="flex">

  <div class="card">
    <img src="../../../assets/images/wine-bg.jpg" />
    <div class="body">
      <div class="title">
        Meeting
      </div>
      <div class="subtitle">
        19 September, 2018
      </div>
      <div class="text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book.
      </div>

    </div>
  </div>

  <div class="card">
    <img src="../../../assets/images/wedding-bg.jpg" />
    <div class="body">
      <div class="title">
        Meeting
      </div>
      <div class="subtitle">
        19 September, 2018
      </div>
      <div class="text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book.
      </div>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets/images/coffee-bg.jpg" />
    <div class="body">
      <div class="title">
        Coffee Time
      </div>
      <div class="subtitle">
        Good Morning
      </div>
      <div class="text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book.
      </div>
    </div>
  </div>

</div>

<div class="flex">

  <div class="card">
    <div class="body">
      <div class="title">
        Meeting
      </div>
      <div class="subtitle">
        19 September, 2018
      </div>
    </div>
    <img src="../../../assets/images/wine-bg.jpg" />
    <div class="body">
      <div class="text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book.
      </div>
      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-up.svg'"></span>
      </button>

      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-down.svg'"></span>
      </button>

      <button class="right">
        <span class="icon" ng-include="'../../../assets/icons/more-horizontal.svg'"></span>
      </button>
    </div>

  </div>

  <div class="card">
    <div class="body">
      <div class="title">
        Meeting
      </div>
      <div class="subtitle">
        19 September, 2018
      </div>
    </div>
    <img src="../../../assets/images/wedding-bg.jpg" />
    <div class="body">
      <div class="text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book.
      </div>
      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-up.svg'"></span>
      </button>

      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-down.svg'"></span>
      </button>

      <button class="right">
        <span class="icon" ng-include="'../../../assets/icons/more-horizontal.svg'"></span>
      </button>
    </div>
  </div>

  <div class="card">
    <div class="body">
      <div class="title">
        Coffee Time
      </div>
      <div class="subtitle">
        Good Morning
      </div>
    </div>
    <img src="../../../assets/images/coffee-bg.jpg" />
    <div class="body">
      <div class="text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book.
      </div>

      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-up.svg'"></span>
      </button>

      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-down.svg'"></span>
      </button>

      <button class="right">
        <span class="icon" ng-include="'../../../assets/icons/more-horizontal.svg'"></span>
      </button>



    </div>
  </div>

</div>

<div class="flex">

  <div class="card">
    <div class="body">
      <div class="title">
        Meeting
      </div>
      <div class="subtitle">
        19 September, 2018
      </div>
    </div>
    <img src="../../../assets/images/wine-bg.jpg" />
    <div class="body">

      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-up.svg'"></span>
      </button>

      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-down.svg'"></span>
      </button>

      <button class="right">
        <span class="icon" ng-include="'../../../assets/icons/more-horizontal.svg'"></span>
      </button>
    </div>

  </div>

  <div class="card">
    <div class="body">
      <div class="title">
        Meeting
      </div>
      <div class="subtitle">
        19 September, 2018
      </div>
    </div>
    <img src="../../../assets/images/wedding-bg.jpg" />
    <div class="body">

      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-up.svg'"></span>
      </button>

      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-down.svg'"></span>
      </button>

      <button class="right">
        <span class="icon" ng-include="'../../../assets/icons/more-horizontal.svg'"></span>
      </button>
    </div>
  </div>

  <div class="card">
    <div class="body">
      <div class="title">
        Coffee Time
      </div>
      <div class="subtitle">
        Good Morning
      </div>
    </div>
    <img src="../../../assets/images/coffee-bg.jpg" />
    <div class="body">


      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-up.svg'"></span>
      </button>

      <button>
        <span class="icon" ng-include="'../../../assets/icons/thumbs-down.svg'"></span>
      </button>

      <button class="right">
        <span class="icon" ng-include="'../../../assets/icons/more-horizontal.svg'"></span>
      </button>



    </div>
  </div>

</div>

<div class="card">
  <div class="body">
    <div class="title">
      Invitation Card
    </div>
    <div class="subtitle">
      Josh webs Jemmu, Mountain View, California
    </div>
    <div class="text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>

    <button class="primary" type="submit">
      <span class="text">Submit</span>
    </button>

    <button class="secondary right" type="reset">
      <span class="text">Reset</span>
    </button>

  </div>
</div>

<!-- 
https://dribbble.com/shots/2121350-Delivery-Card-UX-UI-App-Interface

https://dribbble.com/shots/2466585-Daily-UI-challenge-037-Weather -->
