<div class="flex">

  <div class="container box-shadow">
    <button id="hoverMe1" class="primary">Hover me 1!!</button>

    <button id="hoverMe2" class="primary">Hover me 2!!</button>

  </div>

  <div class="container box-shadow">
    <button id="top" class="primary">Top</button>
    <button id="bottom" class="primary">Bottom</button>
    <button id="left" class="primary">Left</button>
    <button id="right" class="primary">Right</button>
  </div>

</div>

<pre class="container box-shadow" hljs>
new Tooltip('#hoverMe1', 'Good. Now hover over next');

new Tooltip('#hoverMe2', 'Cool.');

new Tooltip('#left', 'Is\'nt it awesome', {
  direction: 'left'
});

new Tooltip('#top', 'Is\'nt it awesome', {
  direction: 'top'
});

new Tooltip('#bottom', 'Is\'nt it awesome', {
  direction: 'bottom'
});

new Tooltip('#right', 'Is\'nt it awesome', {
  direction: 'right'
});
</pre>