.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid lightgray;

  .title {
    padding: 0.5rem 1.5rem 0.5rem 0rem;
    display: inline-block;
  }

  .options {
    margin: 0;
    padding: 0;
    min-width: 10rem;
    position: absolute;
    top: 0;
    left: -1rem;
    right: -1rem;
    list-style: none;
    z-index: 0;

    // pointer-events: auto;
    background: white;
    transition: all 300ms;
    display: none;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);

    li {
      padding: 0.5rem 1.5rem 0.5rem 1rem;

      &.seperator {
        border-top: 1px solid lightgray;
      }

      &:hover {
        background-color: darken($color: white, $amount: 5%);
      }

      &:active {
        background-color: darken($color: white, $amount: 10%);
      }
    }

    [disabled] {
      opacity: 0.5;
      pointer-events: none;

      &:hover, &:active {
        background-color: transparent;
      }
    }
  }

  &[disabled] {
    pointer-events: none;
  }

  &:active {
    background-color: darken(white, 5%);
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    border-width: 0.25rem 0.25rem 0 0.25rem;
    border-style: solid;
    border-color: black transparent;
  }

  &.no-label {
    border: 0;

    &:after {
      display: none;
    }

    &.direction-right{
      .options{
        right: unset;
      }
    }

    &.direction-left{
      .options{
        left: unset;
      }
    }
  }

  &.active .options {
    display: inline-block;
    z-index: 100;
  }
}
