//BUTTON
button{
  appearance: none;
  font-size: $regular;
  border: 0;
  padding: 0;
  overflow: auto;
  padding: 0.5rem 0.75rem;
  background: transparent;
  position: relative;

  &:focus {
    outline: 0;
  }

  &:active{
    background-color: darken(white, 5%);
  }

  &[disabled]{
    opacity: 0.5;
  }

  .icon{
    height: 1rem;
    width: 1rem;
    display: inline-block;
    vertical-align: middle;
  }

  svg{
    width: 1rem;
    height: 1rem;
  }

  &.primary{
    color: white;
    background-color: $primary;

    &:active{
      background-color: darken($primary, 5%);
    }

    svg{
      fill: white;
    }

  }

  &.secondary{
    color: black;
    background-color: darken(white, 10%);

    &:active{
      background-color: darken(white, 20%);
    }

    svg{
      fill: black;
    }
  }
}

.btn-group{
  display: flex;

  button{
    border-radius: 0;

    &:first-of-type{
      border-radius: 5px 0 0 5px;
    }

    &:last-of-type{
      border-radius: 0 5px 5px 0;
    }
  }
}