<div class="container box-shadow">
  <button class="primary" type="submit">
    <span class="text">Submit</span>
  </button>

  <button class="secondary" type="reset">
    <span class="text">Reset</span>
  </button>

  <button type="button">
    <span class="text">Cancel</span>
  </button>
</div>

<div class="container box-shadow">
  <div class="btn-group">
    <button class="primary" type="submit">
      <span class="text">Submit</span>
    </button>

    <button class="secondary" type="reset">
      <span class="text">Reset</span>
    </button>

    <button type="button">
      <span class="text">Cancel</span>
    </button>
  </div>
</div>

<div class="container box-shadow">
  <button class="primary" type="submit">
    <span class="text">Like
    </span>
    <span class="icon" ng-include="'assets/icons/thumbs-up.svg'"></span>
  </button>

  <button class="primary" type="submit">
    <span class="icon" ng-include="'assets/icons/chevron-down.svg'"></span>
    <span class="text">Submit</span>
  </button>

  <button class="primary" type="submit">
    <span class="icon" ng-include="'assets/icons/chevron-down.svg'"></span>
    <span class="text">Submit</span>
    <span class="icon" ng-include="'assets/icons/bar-chart.svg'"></span>
  </button>
</div>

<div class="container box-shadow">
  <div class="btn-group">
    <button class="primary" type="submit">
      <span class="text">Like
      </span>
      <span class="icon" ng-include="'assets/icons/thumbs-up.svg'"></span>
    </button>

    <button class="primary" type="submit">
      <span class="icon" ng-include="'assets/icons/chevron-down.svg'"></span>
      <span class="text">Submit</span>
    </button>

    <button class="primary" type="submit">
      <span class="icon" ng-include="'assets/icons/chevron-down.svg'"></span>
      <span class="text">Submit</span>
      <span class="icon" ng-include="'assets/icons/bar-chart.svg'"></span>
    </button>
  </div>
</div>


<div class="container box-shadow">
  <button class="primary" type="submit">
    <span class="icon" ng-include="'assets/icons/thumbs-up.svg'"></span>
  </button>

  <button class="secondary" type="submit">
    <span class="icon" ng-include="'assets/icons/thumbs-down.svg'"></span>
  </button>

  <button class="primary" type="submit">
    <span class="icon" ng-include="'assets/icons/trash.svg'"></span>
  </button>
</div>

<div class="container box-shadow">
  <div class="btn-group">
    <button class="primary" type="submit" disabled>
      <span class="icon" ng-include="'assets/icons/thumbs-up.svg'"></span>
    </button>

    <button class="secondary" type="submit">
      <span class="icon" ng-include="'assets/icons/thumbs-down.svg'"></span>
    </button>

    <button class="primary" type="submit">
      <span class="icon" ng-include="'assets/icons/trash.svg'"></span>
    </button>
  </div>
</div>

<div class="container box-shadow">
  <div class="btn-group">
    <button class="primary" type="submit">
      1
    </button>

    <button class="primary" type="submit">
      2
    </button>

    <button class="primary" type="submit">
      3
    </button>
    <button class="primary" type="submit">
      4
    </button>

    <button class="primary" type="submit">
      5
    </button>

    <button class="primary" type="submit">
      6
    </button>
  </div>
</div>
