<div class="container box-shadow">
  <button class="primary" type="submit">
    Submit
  </button>

  <button class="secondary" type="reset">
    Reset
  </button>

  <button class="right" type="button">
    Cancel
  </button>

</div>

<div class="container box-shadow">
  <div class="btn-group">
    <button class="primary" type="submit">
      Submit
    </button>

    <button class="primary icon-only">
      <span ng-include="'../../assets/icons/chevron-down.svg'"></span>
    </button>

    <button class="secondary" type="button">
      Cancel
    </button>
  </div>
</div>
