<form class="container box-shadow">

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" id="email" placeholder="Enter email" required>
    <div class="msg color-info">We'll never share your email with anyone else.</div>
  </div>

  <div hljs>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" id="email" placeholder="Enter email" required/>
      <div class="msg color-info">We'll never share your email with anyone else.</div>
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Enter password" />
  </div>

  <pre hljs>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter password"/>
    </div>
  </pre>
</form>
<form class="container box-shadow">
  <div class="form-group">
    <label for="age">Age group</label>
    <select id="age">
      <option>0 - 20 Years</option>
      <option>20 - 40 Years</option>
      <option>40 - 60 Years</option>
      <option>60 - 80 Years</option>
      <option>> 100 Years</option>
    </select>
  </div>

  <div hljs>
    <div class="form-group">
      <label for="age">Age group</label>
      <select id="age">
        <option>0 - 20 Years</option>
        <option>20 - 40 Years</option>
        <option>40 - 60 Years</option>
        <option>60 - 80 Years</option>
        <option>> 100 Years</option>
      </select>
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group">
    <label for="age">Multi age group</label>
    <select multiple id="age">
      <option>0 - 20 Years</option>
      <option>20 - 40 Years</option>
      <option>40 - 60 Years</option>
      <option>60 - 80 Years</option>
      <option>> 100 Years</option>
    </select>
    <div class="msg color-error">Make sure that age is correct.</div>
  </div>

  <div hljs>
    <div class="form-group">
      <label for="age">Multi age group</label>
      <select multiple id="age">
        <option>0 - 20 Years</option>
        <option>20 - 40 Years</option>
        <option>40 - 60 Years</option>
        <option>60 - 80 Years</option>
        <option>> 100 Years</option>
      </select>
      <div class="msg color-error">Make sure that age is correct.</div>
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group">
    <label for="age">Age group</label>
    <select id="age" class="material">
      <option>0 - 20 Years</option>
      <option>20 - 40 Years</option>
      <option>40 - 60 Years</option>
      <option>60 - 80 Years</option>
      <option>> 100 Years</option>
    </select>
  </div>

  <div hljs>
    <div class="form-group">
      <label for="age">Age group</label>
      <select id="age" class="material">
        <option>0 - 20 Years</option>
        <option>20 - 40 Years</option>
        <option>40 - 60 Years</option>
        <option>60 - 80 Years</option>
        <option>> 100 Years</option>
      </select>
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group">
    <label for="textarea">Example Textarea</label>
    <textarea id="textarea"></textarea>
  </div>

  <div hljs>
    <div class="form-group">
      <label for="textarea">Example Textarea</label>
      <textarea id="textarea"></textarea>
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group inline">
    <label for="range">Range Picker</label>
    <input type="range" id="range">
  </div>

  <div hljs>
    <div class="form-group inline">
      <label for="range">Range Picker</label>
      <input type="range" id="range">
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group inline">
    <label for="question">Faviourite Question ?</label>
    <input type="text" id="question" placeholder="Enter question">
  </div>

  <div hljs>
    <div class="form-group inline">
      <label for="question">Faviourite Question ?</label>
      <input type="text" id="question" placeholder="Enter question">
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group">
    <input type="checkbox" id="checkbox">
    <label for="checkbox">Agree with terms and conditions ?</label>
  </div>

  <div hljs>
    <div class="form-group">
      <input type="checkbox" id="checkbox">
      <label for="checkbox">Agree with terms and conditions ?</label>
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group">
    <input type="radio" name="radio" id="radio1">
    <label for="radio1">Agree with terms and conditions ?</label>
  </div>

  <div hljs>
    <div class="form-group">
      <input type="radio" name="radio" id="radio1">
      <label for="radio1">Agree with terms and conditions ?</label>
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group">
    <input type="radio" name="radio" id="radio2">
    <label for="radio2">Agree with terms and conditions ?</label>
  </div>

  <div hljs>
    <div class="form-group">
      <input type="radio" name="radio" id="radio2">
      <label for="radio2">Agree with terms and conditions ?</label>
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group">
    <label for="email">Email address</label>
    <input class="material" type="email" id="email" placeholder="Enter email" required>
  </div>

  <div hljs>
    <div class="form-group">
      <label for="email">Email address</label>
      <input class="material" type="email" id="email" placeholder="Enter email" required>
    </div>
  </div>
</form>
<form class="container box-shadow">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" id="email" placeholder="Enter email" required>
  </div>

  <div hljs>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" id="email" placeholder="Enter email" required>
    </div>
  </div>
</form>
<form class="container box-shadow">
  <button class="primary" type="submit">
    Submit
  </button>

  <button class="secondary" type="reset">
    Reset
  </button>

  <button class="right" type="button">
    Cancel
  </button>

  <div hljs>
    <button class="primary" type="submit">
      Submit
    </button>

    <button class="secondary" type="reset">
      Reset
    </button>

    <button class="right" type="button">
      Cancel
    </button>
  </div>

</form>
