<form class="container box-shadow">
  <div class="tabs">
    <ul class="links">
      <li class="link active">Tab 1</li>
      <li class="link">Tab 2</li>
      <li class="link">Tab 3</li>
    </ul>

    <div class="content">

    </div>
  </div>

  <div hljs>
    <div class="tabs">
      <ul class="links">
        <li class="link active">Tab 1</li>
        <li class="link">Tab 2</li>
        <li class="link">Tab 3</li>
      </ul>

      <div class="content">
        <!-- Use JS Logics to hide and show specific tabs -->
        <div class="tab tab1"></div>
        <div class="tab tab2"></div>
        <div class="tab tab3"></div>
      </div>
    </div>
  </div>
</form>
