<h3>
  Buttons Styles
</h3>

<div>
  <button>
    <span class="icon lnr lnr-text-align-right"></span>
    Click me !!
  </button>

  <button>
    <span class="icon lnr lnr-cross"></span>
    Cancel
  </button>

  <button>
    Submit
    <span class="icon lnr lnr-thumbs-up"></span>
  </button>

  <button>
    <span class="icon lnr lnr-text-align-right"></span>
  </button>

  <button>
    <span class="icon lnr lnr-cross"></span>
  </button>

  <button>
    <span class="icon lnr lnr-thumbs-up"></span>
  </button>
</div>

<div>
  <button>
    <span class="icon lnr lnr-text-align-right"></span>
    Click me !!
  </button>

  <button>
    <span class="icon lnr lnr-cross"></span>
    Cancel
  </button>

  <button>
    Submit
    <span class="icon lnr lnr-thumbs-up"></span>
  </button>

  <button>
    <span class="icon lnr lnr-text-align-right"></span>
  </button>

  <button>
    <span class="icon lnr lnr-cross"></span>
  </button>

  <button>
    <span class="icon lnr lnr-thumbs-up"></span>
  </button>
</div>

<h3>
  Button Groups
</h3>

<div>
  <div class="btn-group">
    <button>
      <span class="icon lnr lnr-text-align-right"></span>
      Click me !!
    </button>

    <button>
      <span class="icon lnr lnr-cross"></span>
      Cancel
    </button>

    <button>
      Submit
      <span class="icon lnr lnr-thumbs-up"></span>
    </button>
  </div>

  <div class="btn-group">
    <button>
      <span class="icon lnr lnr-text-align-right"></span>
    </button>

    <button>
      <span class="icon lnr lnr-cross"></span>
    </button>

    <button>
      <span class="icon lnr lnr-thumbs-up"></span>
    </button>
  </div>
</div>