<div class="container box-shadow">

  <dropdown
    placeholder="Sort by..."
    ng-model="$dropdown.dropdown"
    options="$dropdown.options"
    on-option-click="$dropdown.onClick(option)"></dropdown>

</div>

<div class="flex">

  <div class="container box-shadow">
    <div id="dropdown1" class="dropdown">

      <div class="title">Sort by...</div>

      <ul class="menu">
        <li disabled>Sort by...</li>
        <li class="seperator">Sort by name</li>
        <li>Sort by oldest</li>
        <li>Sort by eldest</li>
        <li disabled class="seperator">Sort be category</li>
      </ul>

    </div>

  </div>

  <div class="container box-shadow">
    <div id="dropdown3" class="dropdown no-label direction-left">

      <span class="icon" ng-include="'../../../assets/icons/more-horizontal.svg'">
      </span>
      <!-- <div class="title">Sort by...</div> -->

      <ul class="menu">
        <li disabled>Sort by...</li>
        <li class="seperator">Sort by name</li>
        <li>Sort by oldest</li>
        <li>Sort by eldest</li>
        <li disabled class="seperator">Sort be category</li>
      </ul>

    </div>

  </div>

  <div class="container box-shadow">
    <div id="dropdown4" class="dropdown no-label direction-right">

      <span class="icon" ng-include="'../../../assets/icons/more-horizontal.svg'">
      </span>
      <!-- <div class="title">Sort by...</div> -->

      <ul class="menu">
        <li disabled>Sort by...</li>
        <li class="seperator">Sort by name</li>
        <li>Sort by oldest</li>
        <li>Sort by eldest</li>
        <li disabled class="seperator">Sort be category</li>
      </ul>

    </div>

  </div>

</div>
